html,body{padding:0;margin:0}
body {
background:#F7F7F7 url('../_images/bg.jpg') repeat-x fixed;
color:#444;
font-family:Segoe UI,Verdana,Arial,Helvetica,sans-serif;
font-size:13px;
margin:0;
padding:0;
display:flex;
flex-direction:column;
align-items:center;
}
a {
color:#417E9A;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
a img {border:0;}
hr {border:0;margin:5px 0px;padding:0;}

.df{display:flex}
.fdc{flex-direction:column}
.f1{flex:1}
.tac{text-align:center}

#h {
background:url('../_images/logo.png') no-repeat;
display:flex;
font-family:'Gotham A','Gotham B';
padding-left:132px;
min-height:180px;
max-width:850px;
width:100%;
}
#h_social {
display:flex;
align-items:center;
justify-content:flex-end;
flex:1
}
#h_name,#h_sub{margin:0;padding:0;line-height:1em}
#h_name{color:#417e9a;font-size:2.5em}
#h_sub{color:#6a6a6a;font-size:2em;padding-bottom:1em}

.box_title {
background-color:#6f9cb1;
color:#fff;
font-family:'Gotham A','Gotham B';
font-weight: 100;
font-size:2em;
padding:5px 7px;
}
.box {
background-color:#fff;
border-bottom:1px solid #6f9cb1;
margin-top:6px;
max-width:930px;
width:100%;
}
.tile {
background-color:#fff;
padding:5px 7px;
}
.tile_title {
color:#417E9A;
font-family:Georgia,serif;
font-size:1.8em;
padding:.1em 0
}

@media (orientation : portrait) {
.m_fdc {flex-direction:column}
}
